Source: ros-kinetic-jog-control
Section: misc
Priority: extra
Maintainer: Tokyo Opensource Robotics Kyokai (TORK) Developer Team <dev@opensource-robotics.tokyo.jp>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://wiki.ros.org/jog_control
Standards-Version: 3.9.2

Package: ros-kinetic-jog-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-jog-controller, ros-kinetic-jog-launch, ros-kinetic-jog-msgs
Description: This metapackage depends on packages related to jog control.
